html {
  box-sizing: border-box;
  height: 100%
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root{
  /* --body-bg: #8FC1E3; */
  --border: 1px solid #2f2f34;
  --bg: #5085a5;
  /* --txt: #687864; */
}

body {
  background: linear-gradient(to top, #081f3c 0%, #5581a2 100%);
}

h1 {
  font-size: 8vmin;
  height: 8.5vmin;
  margin: 0;
  color: #F7F9FB;
  text-shadow: 2px 2px #434961;
  font-family: 'DM Serif Display', serif;
  padding: 0;
  display: flex;
  align-items: center;
}

h3 {
  height: 4.5vmin;
  font-size: 3.5vmin;
  margin: 1vmin 0;
  color: #F7F9FB;
  text-shadow: 1px 1px #434961;
  font-family: 'DM Serif Display', serif;
  display: inline-block;
}

.content {
  display: flex;
  background-size: cover; 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.row div {
  /* border: 2px solid lightgray; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vmin;
  margin: .2vmin;
  /* border-radius: .25vmin; */
}

.tile {
  border: 2px solid lightgray;
  border-radius: .25vmin;
}

.board {
  /* background-color: #afb1b7; */
  font-family: sans-serif;
  border-radius: 4px;
  color: rgb(37, 36, 41);
  /* border: #2f2f34 1px solid; */
  /* box-shadow: #1a1a1c 3px 3px; */
}

.board .row {
  display: grid;
  grid-template-rows: repeat(1, 9vmin);
  grid-template-columns: repeat(5, 9vmin);
}


section.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vmin;
  font-size: 4vmin;
  font-family: sans-serif;
}

.letter {
  background-color: #a4a5a6;
}

.keyboard div {
  display: flex;
  color: #08070e;
  border-radius: .7vmin;
  box-shadow: #1a1a1c 3px 3px;
}

.letter {
  width: 8.5vmin;
  height: 8.5vmin;
  border: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
}

#enter, #delete {
  border: var(--border);
  height: 8.5vmin;
  width: 12vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrong-tile{
  background-color: lightgray;
}

.wrong-key {
  background-color: #56565f;
  color: #F7F9FB;
}

.almost-right {
  background-color: rgb(231, 231, 29);
  border-color: rgb(231, 231, 29);
}

.right {
  background-color: rgb(78, 174, 61);
  border-color: rgb(78, 174, 61);
}

button {
  font-family: 'DM Serif Display', serif;
  background-color: color: #F7F9FB;
  color: #2f2f34;
}

#reset-btn {
  margin: 0 0 1vmin 1vmin;
  height: 4vmin;
  font-size: 2.5vmin;
  padding: 0 1vmin 1vmin 1vmin;
  border-radius: 1.5vmin;
}

#sound-btn {
  height: 8vmin;
  font-size: 4vmin;
  border-radius: 1.5vmin;
  position: fixed;
  top: 0;
  right: 0;
}

#display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* #header {
  display: flex;
  justify-content: space-between;
  width: 100%;
} */

