html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root{
  /* --body-bg: #8FC1E3; */
  --border: 1px solid #2f2f34;
  --bg: #5085a5;
  /* --txt: #687864; */
}
body {
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
}

h1 {
  font-size: 9vmin;
  margin: 0;
  color: #F7F9FB;
  text-shadow: 2px 2px #434961;
}

h3 {
  height: 5vmin;
  font-size: 4vmin;
  margin: 1vmin 0 0 0;
  color: #F7F9FB;
  text-shadow: 1px 1px #434961;
}

.content {
  display: flex;
  background-size: cover; 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

/* .board {
  display: grid;
  grid-template-rows: repeat(6, 9vmin);
  grid-template-columns: repeat(5, 9vmin);
  border: 1px solid black; 
}*/


.row div {
  border: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vmin;
}

.board {
  background-color: #afb1b7;
  font-family: sans-serif;
  border: 3px solid #262629;
  border-radius: 4px;
  color: rgb(37, 36, 41);
}

.board .row {
  display: grid;
  grid-template-rows: repeat(1, 10vmin);
  grid-template-columns: repeat(5, 10vmin);
}


section.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vmin;
  font-size: 3vmin;
  font-family: sans-serif;
}

.letter {
  background-color: #a4a5a6;
}

.keyboard div {
  display: flex;
  color: #08070e;
  border-radius: 2px;
}

.letter {
  width: 6vmin;
  height: 6vmin;
  border: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
}

#enter, #delete {
  border: var(--border);
  height: 6vmin;
  width: 12vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  background-color: rgb(78, 174, 61);
}

.almost-right {
  background-color: rgb(231, 231, 29);
}